body{
    background-image: url(./tree-wood-cartoon-images-background-copy-space_1179130-745320.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.align{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    border-radius: 30px;
    background-image: url(./Screenshot\ 2025-11-20\ 173340.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

.box {
    padding: 20px;
    text-align: center;
    color: rgb(243, 210, 172);
    }

        
.single{
    grid-column: span 6; 
    }

.start{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #3C2B1B;
    color: rgb(243, 210, 172);
}
